  {{> navbar }}
  {{> header }}
  <div class="row">
<div class="col-8">
<h1>galeria</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque consequatur fugiat, quo sapiente omnis voluptates magnam, at exercitationem in perferendis, dolore nemo quod autem ex quidem numquam aliquam doloremque nihil?</p>
</div>

<div class="col-4">
    <img src="assets/img/galeria.jpg" class="img-thumbnail">
</div>
  </div>
  {{> footer }}
